body {
	font-family: "Playfair Display";
	margin: 0;
  	padding: 0;
}

li {
	list-style: none;
}

/*batas header*/
header {
	background-color: #FFFACD;
	color: #000000;
	height: 90px;
}

.header-logo  {
	float: left;
	font-size: 36px;
	padding: 20px 40px;
}

.list {
	float: left;
	padding: 30px 20px;
	font-weight:bold;
	font-size:20px;
	color:black;
	text-decoration: none;
}

.list:hover {
	text-decoration: underline;
}

.header-right {
	float: right;
	background-color: rgba(255, 255, 255, 0.3);
	/* Ubah property transition */
}

.header-right:hover {
	background-color: rgba(255, 255, 255, 0.8);
	transition: all 0.5 s;
	text-decoration: none;
}

.header-right a {
	line-height: 35px;
	padding: 25px 25px;
	color: black;
	display: block;
	text-decoration: none;
}
.logo-shop i {
	float:right;
	padding:35px 25px;
	cursor: pointer;
}
/*batas header*/

/*batas main*/
.main {
    background-image: url(https://images.unsplash.com/photo-1462392246754-28dfa2df8e6b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.heading {
	width: 100%;
    padding: 180px 0px;
    padding-left: 100px;
    color: black;
    z-index: 10;
    position: relative;
    
}

.heading h1 {
    letter-spacing: 1.5px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 48px;
    font-style: uppercase;
    line-height: 0.75em;
}

.heading h1:hover {
    color: white;
}

.heading img{
    float: right;
    position: absolute;
    top: 0;
    right: 80px;
    max-width: 20%;
    height: auto;
	margin-top: 150px;
    margin-right: 150px;
    border-radius: 1em;

}

/* .heading img:hover{
    box-shadow: 0 0 15px 1px black;
} */
.heading p {
    width: 300px;
}

.btn {
    margin-top: 1em;
    padding: 1em 1em;
    color: black;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 1em;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: bold;
} 

.box {
    width: 90%;
    height: 75%;
    background-color: white;
    opacity: 0.25;
    position: absolute;
    top: 90px;
    left: 50px;
    z-index: 5;
    border-radius: 1em;
}
/*batas main*/

/*batas body*/
.body{
	background-color: #ecf0f1;
	height: 680px;
	color: #000000;
	text-align: center;
}

.opening h2{
	padding-top: 60px;
	font-weight: bold;
	margin-top: 0px;
}

.images-list{
	float: left;
	display: flex;
	flex-direction: row;
	
}

.images {
	padding: 15px;
	width: 30%;

}

.images-list img{
	width: 200px;
	height: 200px;
	overflow: hidden;
	padding-bottom: 20px;
}

/*batas body*/

/*batas nathan*/
.footer {
	width: auto;
	background-color: #212a2f;
	color: #fff;
	height: 400px;
	width:auto;
	padding: 40px;
}
input{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(77, 85, 89);
    padding:2px 12px 0px;

    outline: none;
    height: 48px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 700;
    border-radius: 5px;
}

.sosmed{
	float: left;
}

.form p{
	font-size:15px;
}

.container{
	float:left;
}

.container h3 {
	font-size:12px;
	font-family:Arial;
}
.sosmed h2{
	margin-top: 20px;
	font-size: 12px;
	font-family:Arial;
}
.sosmed p{
	font-size:11px;
	font-family:Arial;
	font-weight:normal ;
}
.sosmed{
	float: right;
}
.tentang{
	text-align: center;
	margin-top: 20px;
	font-size: 12px;
	font-family:Arial;
}
.form{
	padding-top: 50px;
	font-family: Arial;
	font-size: 12px;
}
button{
	color:#FFFFFF;
	background:#4D5559;
    padding:15px;
    text-align:center;
    display: inline-block;
    cursor:pointer;
    font-size:14px;
    border-radius: 5px;
    margin-bottom: 40px;
}

button:hover{
	color:#4D5559;
	background:#FFFFFF;
	transition:all 0.7s;
}

button:active{

}

.sosmed i{
	padding-right: 30px;
	cursor: pointer;
}
/*batas nathan*/

/* Responsive Nofri */
.menu-icon {
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
  color: black;
}
